<footer class="footer" id="footer">
  <div class="footer-collab">
    <%# <img src="logo/black-logo.png" alt="" class="footer--logo" /> %>
    <p class="footer-collab-text">
      <strong>
        Para obtener más información, contáctenos a través de nuestro correo
        electrónico o llámenos para que encontremos una asociación adecuada
        para usted.
      </strong>
      <br><br>
      ®<%= Time.now.strftime("%Y") %> Impérduro, parte de BGILTD

    </p>
    <%= image_tag "imperduro-t.png", class:"footer--logo" %>
  </div>

  <div class="contacts container">
    <div class="separator">
      <%= image_tag "email-logo-png-1125.png", class:"contacts--logo" %>
      <a href="#" class="email"> imperduro@gmail.com <br> info@imperduro.com</a>
    </div>
    <div class="separator">
      <%= image_tag "telepon.png", class:"contacts--logo" %>
      <p class="phone">(+34) 622 839 039</p>
    </div>

  </div>
</footer>
