<footer class="footer">
  <div class="footer-collab">
    <%# <img src="logo/black-logo.png" alt="" class="footer--logo" /> %>
    <p class="footer-collab-text">
      En IMPÉRDURO tenemos colaboraciones con varias empresas en América,
      Europa y Asia que tienen diferentes tipos de asociaciones.<br /><br />
      Para obtener más información, contáctenos a través de nuestro correo
      electrónico o llámenos para que encontremos una asociación adecuada
      para usted.
    </p>
    <%= image_tag "imperduro-t.png", class:"footer--logo" %>
  </div>

  <div class="contacts">
    <div class="separator">
      <img
        src="logo/email-logo-png-1125.png"
        alt="EMAIL"
        class="contacts--logo"
      />
      <a href="#" class="email"> imperduro@gmail.com</a>
    </div>
    <div class="separator">
      <img src="logo/telepon-7735.png" alt="PHONE" class="contacts--logo" />
      <p class="phone">(+34) 622 839 039</p>
    </div>
  </div>
</footer>
