<section class="information" data-controller="intersection" >
  <div class="info--pcs">
    <div class="info info--first-box hidden--part" data-intersection-target="section">
      <%= image_tag "amsterdam.jpg", class: "info--p" %>
      <p class="info--text" id="text1">
        IMPÉRDURO trabaja con un sistema de control de calidad para
        garantizar un alto nivel de calidad constante. Todo el proceso de
        entrada de las materias primas, la fabricación hasta el producto
        terminado y el suministro se lleva a cabo de conformidad con los
        procedimientos prescritos y controlados. Por supuesto, el sistema
        cuenta con las certificaciones ISO 9001 e ISO 14000. De esta manera,
        el usuario puede estar seguro de que la calidad está garantizada. La
        calidad del producto, centrada en aplicaciones específicas, está
        garantizada por marcas de certificación tales como BELGAQUA, British
        Standard, DVGW, KOMO, Gastec, KIWA, WRAS y CSTB. Muchos productos
        también cuentan con el distintivo CE y cumplen con los estándares
        EN. <br /><br />REACH es una nueva normativa europea relacionada con
        la producción, importación y uso de sustancias químicas solas o en
        preparados. Las siglas significan Registro, Evaluación, Autorización
        y Restricción de Sustancias Químicas.
      </p>
    </div>

    <div class="info info--second-box hidden--part" data-intersection-target="section">
      <p class="info--text" id="text2">
        Tanto la calidad del producto como la del proceso son inspeccionadas
        continuamente por organismos de inspección independientes y
        acreditados en el propio país y en el extranjero. Cuando elige
        IMPÉRDURO, usted elige calidad. La calidad del producto, enfocada a
        diferentes aplicación, está garantizada por marcas y estándares de
        calidad.
      </p>
      <%= image_tag "blacked-out.jpg", class: "info--p" %>
      <p class="info--text" id="text3">
        El núcleo de REACH implica que, en principio, una empresa debe
        conocer los riesgos de todas las sustancias que suministra y debe
        tomar medidas para gestionar los riesgos.
      </p>
    </div>

    <div class="info info--third-box hidden--part" data-intersection-target="section">
      <%= image_tag "painting.jpg", class: "info--p" %>

      <p class="info--text" id="text3">
        IMPÉRDURO, como especialista en técnicas de conexión para sistemas
        de tuberías de plástico, ofrece a los profesionales una gama única
        de productos de calidad con marcas de homologación líderes en la
        industria. Nuestros productos son ideales para los sistemas de
        tuberías industriales y también pueden ayudarle en casos especiales
        como resistencias químicas, temperaturas más altas, mayores tiempos
        de apertura, tuberías con diámetros muy grandes o conexiones con un
        ajuste ancho. Tanto si su sistema de tuberías está hecho de PVC,
        PVC-C, ABS, PP o PE, IMPÉRDURO siempre ofrece una solución adecuada
        para unas conexiones sostenibles.
      </p>
    </div>
  </div>
</section>
