<nav class="nav">
  <ul class="nav--ul">
    <div class="hero--logo-container">
      <a href="#" class="hero--logo">
        <%= image_tag "imperduro-t.png", class: "hero--logo-img"%>
      </a>
    </div>
    <div class="nav--links">
      <li class="nav--li">
        <%= link_to "INICIO", root_path, class:"nav--a nav-pro" %>
      </li>
      <li class="nav--li">
        <a class="nav--a nav-info" href="#">INFORMACIÓN</a>
      </li>
      <li class="nav--li">
        <%= link_to "PRODUCTOS", products_path, class:"nav--a nav-pro" %>
      </li>
      <li class="nav--li">
        <a class="nav--a nav-con" href="#">CONTACTO</a>
      </li>
    </div>
  </ul>
</nav>
