<section class="products">
  <div class="p-nav-cntnr">
    <h2 class="secondary-heading">PRODUCTOS</h2>
    <div class="p-nav">
      <ul class="p-nav-ul">
        <li class="p-nav-li p-nav-li1">MP - 30</li>

        <%# buttons needs to be all dynamically added %>
        <li class="p-nav-li p-nav-li2">PS - 30</li>
        <li class="p-nav-li p-nav-li3">JBS - 20</li>
        <li class="p-nav-li p-nav-li4">Tix de goma</li>
        <li class="p-nav-li p-nav-li5">Acelerador</li>
        <li class="p-nav-li p-nav-li6">IMPÉR SB 26</li>
        <li class="p-nav-li p-nav-li7">LS200</li>
        <li class="p-nav-li p-nav-li8">LS200</li>
        <li class="p-nav-li p-nav-li9">LS200</li>
        <li class="p-nav-li p-nav-li10">LS200</li>
        <li class="p-nav-li p-nav-li11">LS200</li>
        <li class="p-nav-li p-nav-li12">LS200</li>
      </ul>
    </div>
  </div>

  <div class="p-display">
    <div class="product">
      <div class="product-translate">
        <%# pictures needs to be all dynamically added %>
        <%= image_tag "mp-30-7kg.png", class: "product-img product-img1" %>


        <%# texts and everything need to be all dynamically added %>
        <div class="product-textbox">
          <h3 class="tirtuary-heading">MP - 30</h3>
          <p class="product-text">
            Revestimiento elástico impermeable y hermético basado en la
            innovadora tecnología SMP
          </p>
          <p class="product-text2">Cualidades:</p>
          <ul class="product-benefits">
            <li class="product-quality-li">Impermeable y hermético</li>
            <li class="product-quality-li">
              Excelente adherencia en muchas superficies (sin imprimación)
            </li>
            <li class="product-quality-li">
              Se puede aplicar sobre superficies húmedas.
            </li>
            <li class="product-quality-li">
              Resistente a la intemperie y a los rayos UV
            </li>
            <li class="product-quality-li">
              Resistente al cloro y al agua salada
            </li>
            <li class="product-quality-li">Autonivelante</li>
            <li class="product-quality-li">No encoge</li>
            <li class="product-quality-li">
              Permanentemente elástico (>250%)
            </li>
            <li class="product-quality-li">Pintable y enyesable</li>
            <li class="product-quality-li">
              Libre de betún, isocianatos y disolventes
            </li>
          </ul>
          <p class="product-text2">Adecuada para:</p>
          <ul class="product-suitables">
            <li class="product-suitable-li">
              Para sellar, proteger y reparar techos, paredes, grietas,
              juntas, conductos y conexiones. Excelente adherencia (sin
              imprimación) sobre una amplia variedad de materiales, como
              hormigón, metal, piedra, madera, zinc, PVC y EPDM (prueba
              previa).
            </li>
            <li class="product-suitable-li">
              Se puede aplicar en superficies horizontales y verticales y es
              adecuado para aplicaciones en interiores y exteriores, como
              sellado de conductos, sellado de pisos, juntas de expansión,
              conexiones de marcos de ventanas y paredes y estructuras
              subterráneas.
            </li>
            <li class="product-suitable-li">
              Apto también para la impermeabilización bajo baldosas en cuartos
              húmedos y piscinas. Perfecto para el sellado hermético de la
              envolvente del edificio. La hermeticidad ha sido probada según
              EN 12114 y EN 1026.
            </li>
          </ul>
          <!-- <button class="product-hide-btn">Más información</button> -->
        </div>
      </div>


    </div>


  </div>
</section>
