// Define variables for your color scheme

// For example:
$main-darker: #930a07;
$main-lighter: #BB0A21;
// Black and White
$black: #252627;
$white: #FFF9FB;

$box-shadow: #12130f81;

//     TEXTS
//      p
$p-dark: #0f0101;
$p-light: #f4e7e6;
//      h
$h-dark: #1d0201;
$h-light: #e9cecd;
