.section-product-index {
  padding-top: 20rem;
  background-color: $black;
  .secondary-heading {
    color: #e9e9e9;
  }

  .tirtuary-heading {
    color: #d3d4d4;
  }

  .btn-danger {
    background-color: $main-lighter;
    &:hover {
      background-color: #a8091e;
    }
  }
}

.product {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
}

.product-card {
  max-width: 30rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: 0.1px 1.5px 5px $box-shadow;

}

.product-card-img {
  max-width: 25rem;
  max-height: 20rem;
  padding: 2rem 0;
  border-bottom: solid 1px $main-darker;
}

.product-card-body {
  padding: 2rem;
}

.product-card-title {
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
}

.product-card-text {
  font-size: 1.6rem;;
}

.product-path {
  font-size: 1.6rem;

}
