.section-product-index {
  padding-top: 20rem;
  background-color: $black;
  .secondary-heading {
    color: #e9e9e9;
  }

  .tirtuary-heading {
    color: #d3d4d4;
  }

  .btn-danger {
    background-color: $main-lighter;
    &:hover {
      background-color: #a8091e;
    }
  }
}

.product {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
}

.product-card {
  max-width: 30rem;
  background-color: $white;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  overflow: hidden;
  box-shadow: 0.1px 1.5px 5px $box-shadow;
  position: relative;
}

.product-card-img-capsul {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  border-bottom: solid 1px $main-darker;
  margin-bottom: 2rem;
}

.product-card-body {
  padding: 2rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card-title {
  display: flex;
  justify-content: center;
  color: $black;
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
}

.product-card-text {
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.product-path {
  font-size: 2.2rem;
  font-weight: 800;

  position: absolute;
  bottom: 0;
  right:0;
  border-radius: 0;
}


@media (max-width: 800px) {
  .section-product-index {

    .tirtuary-heading {
      color: #d3d4d4;
      font-size: 2rem;
    }
  }
}
