.collab {
  padding: 3rem 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 7rem;
  // padding-top: 2rem;
}

.collab--logo {
  cursor: pointer;
  // padding-top: 3rem;
}

.collab--logo-img {
  max-width: 12rem;
  filter: grayscale(1);
  opacity: 0.5;
  transition: 0.5s;

  &:hover {
    filter: grayscale(0);
    opacity: 1;
  }
}


@media (max-width: 1020px) {

  .collab--logo-img {
    width: 9rem;
  }

}
