
.contact-form {
  width: 100%;
  background-color: $black;
  padding-block: 10rem;
  border-top: solid 2px #f4e7e62a;


  .secondary-heading {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    color: $white;
  }
}


  .companion {
    color: #b4b4b4;
    margin-bottom: 4rem;
    line-height: 3rem;
  }

  .c-email {
    color: $white;
    transition: 0.2s;
    &:hover {
      color: #b8b8b8;
      cursor: pointer;
    }
  }

  .form {
    font-size: 1.8rem;
    color: #b4b4b4;
    .divider1 {
      font-size: 1.35rem;
    }
  }

  .input {
    background-color: #efefef;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 2rem;
    width: 30rem;
  }

  .names {
    flex-direction: column;
  }

  .divider {
    justify-content: space-between;
  }

  .divider1 {
    &:nth-child(2) {
      margin-bottom: 5px;
    }
  }

  .more-details {
    flex-direction: column;
  }

  .check-n-confirm  {
    flex-direction: column;

    .companion {
      line-height: 1.6rem;
      margin-bottom: 1rem;
    }
  }

.enviar {
  margin-top: 2rem;
  font-size: 1.7rem;
}
