.carousel-inner {
  width: 100%;
}

.hero-img {
  width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: $black;
  padding: 1rem;
  width: 5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding: 1rem;
}

@media screen and (orientation: landscape) {
  .carousel .hero-img {
    max-height: 100vh;
  }
}

@media (max-width: 600px) {
  .carousel-inner {
    padding-top: 10rem;
  }
}
