.section-info {
  padding-block: 3rem;

  .info-heading {
    color: $main-lighter;
    font-size: 4.5rem;
    font-weight: 900;
    // text-align: center;
    // padding: 0rem 10rem 5rem 6rem;
    margin-bottom: 4rem;
    text-shadow: 0.1px 1.5px 7px #12130f54;
  }
}

.d-flex {
  justify-content: space-between;
}

.btn-collapse {
  border: none;
  font-size: 2rem;
  font-weight: 800;
  background-color: $main-lighter;
  color: $white;
  padding: 1.5rem 4rem;;
  transition: 0.2s;
  margin-top: 2rem;
}

.collapsed {
  background-color: #f1ced3;
  color: $main-lighter;
  &:hover {
    background-color: #ebb6bc;
  }
}

.card {
  // margin-inline: 6rem;
  // display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;

}

.card-body {
  margin-bottom: 1rem;
  border-color: $main-lighter;
  background-color: $main-lighter;
  padding: 3rem;
  color: $white;
  border-radius: 0;
}

.card-body-p {
  font-size: 1.8rem;
}

.quality-logo {
  max-width: 20rem;
}
