.nav {
  background-color: $white;
  box-shadow: 0.1px 1.5px 17px $box-shadow;
  position: fixed;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  z-index: 12;
  .nav--links {
    display: flex;
    gap: 1rem;
  }

  .nav--ul {
    display: flex;
    gap: 10rem;
    // justify-content: space-around;
    align-items: center;

    list-style: none;

    // padding: 1rem;
  }

  .nav--not-intersecting {
    background-color: #12130fea;
  }
  .nav--not-intersecting .nav--a {
    color: #f4e7e6;
  }

  .nav--not-intersecting .nav--a:hover {
    box-shadow: inset 0 -2rem 0 0 #f8e7e6ef;
  }
  .nav--not-intersecting .hero--logo-container {
    background-color: #9309077a;
    border-radius: 0px;
  }

  .nav--a {
    font-size: 2rem;
    font-weight: 800;
    padding: 7.2rem 4rem;

    text-decoration: none;

    color: #1d0201;
    text-shadow: 0.5rem 0.2rem 1rem 0rem $main-darker;

    transition: 0.5s;

    &:hover, &:active {
      box-shadow: inset 0 -3rem 0 0 $main-darker;
      text-shadow: 0.5rem 0.2rem 5rem $main-darker;
    }
  }
}





.hero--logo {
  cursor: pointer;
}

.hero--logo-container {
  transition: 1.8s;
  border-radius: 40%;
}

.hero--logo-img {
  padding-inline: 6rem;
  max-height: 13rem;
  /* box-shadow: inset 0.5rem 0.2rem 12rem rgba(255, 255, 255, 0.671); */

  /* transform: translateX(70%) translateY(70%); */
}
