// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// CSS partials
@import "components/index";
@import "pages/index";
@import "media/index";


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

p {
  margin-bottom: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.secondary-heading {
  color: $main-lighter;
  font-size: 4.5rem;
  font-weight: 900;
  // text-align: center;
  // padding: 0rem 10rem 5rem 6rem;
  text-shadow: 0.1px 1.5px 7px #12130f54;
}

.tirtuary-heading {
  color: $main-darker;
  font-size: 3.5rem;
  font-weight: 800;
  // text-align: center;
  // padding: 0rem 10rem 5rem 6rem;
  margin-bottom: 4rem;
  text-shadow: 0.1px 1.5px 7px #12130f54;
}
