<section class="section-product-index pb-5">
  <div class="container pb-5">
    <h2 class="secondary-heading">PRODUCTOS</h2>
    <h3 class="tirtuary-heading">Productos disponibles para envío masivo.</h3>
    <div class="product">
      <% @products.each do |product|%>
        <div class="product-card">
          <%= image_tag "products/mp30.png", loading: "lazy", class:"product-card-img" %>
          <div class="product-card-body">
            <h5 class="product-card-title mb-3"><%= product.name %></h5>
            <p class="product-card-text mb-3"><%= product.description %></p>
            <%= link_to "Mas detalles", product, class:"btn btn-danger w-100 product-path" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
